:host {
  --vanilla-main-color: yellow;
  display: block;
}

fieldset {
  position: relative;
}

.reset {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 75%;
  color: white;
  padding: 2px 5px;
  background-color: var(--vanilla-main-color);
  border-radius: 5px;
  border: solid 2px var(--vanilla-main-color);
}

heart-button {
  --heart-color: var(--vanilla-main-color);
}